<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add new student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Add new student</h2>
        <div class="row col-lg-9 mb-4">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <input class="col-lg-4 mr-2" class="form-control-file" id="exampleFormControlFile1">

        </div>
        <div class="row col-lg-9 mb-4">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <input class="col-lg-4 mr-2" class="form-control-file" id="exampleFormControlFile1">

        </div>
        <div class="row col-lg-9 mb-4">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <input class="col-lg-4 mr-2" class="form-control-file" id="exampleFormControlFile1">

        </div>
        <div class="row col-lg-9 mb-4">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <select class="col-lg-4 mr-2"> </select>

        </div>
        <div class="row col-lg-9 mb-4">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <select class="col-lg-4 mr-2"> </select>

        </div>
        <div class="row col-lg-9 mb-4">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <select class="col-lg-4 mr-2"> </select>

        </div>
        <div class="row col-lg-9">
            <label for="exampleFormControlSelect1" class="col-lg-2">Example select</label>
            <input class="col-lg-4 mr-2 form-control" class="form-control-file" id="exampleFormControlFile1">

        </div>
        <div class="row col-lg-12">
            <button class="btn btn-success col-lg-1 offset-5" type="button">Save</button>

        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
